
@{
    ViewData["Title"] = "CreateDevice";
}

@section css{

    <link href="~/css/device/createDevice.css" rel="stylesheet" />
}

<h1>CreateDevice</h1>

@section script{ 
    <script src="~/js/devices/createDevice.js"></script>
}