
@{
    ViewData["Title"] = "Accounts";
}

@section css {
    <link href="~/css/account/accounts.css" rel="stylesheet" />
}


<div class="card">

    <div id="tccGridView">
        <div class="card-header">
            <div class="row">
                <div class="col-sm-4" id="">
                    <input type="text" id="assemblyName" class="form-control" placeholder="Use * or Assembly Name" required />
                </div>
                <div class="col-sm-2">
                    <button type="button" id="btnSearch" class="btn btn-success btn-sm"><i class='fa fa-search'></i> Search</button>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="row align-items-end" style="margin: 1px;">
                <div class="gridDiv">
                    <div id="grid"></div>
                </div>
            </div>
        </div>
    </div>

</div>

@section scripts {
    <script src="~/js/account/accounts.js"></script>
}

