
@{
    ViewData["Title"] = "CreateAccount";
}

@section css {
    <link href="~/css/account/createaccount.css" rel="stylesheet" />
}

<div class="col-sm-10 offset-sm-1">
    <div class="card">
        <div class="card-body">
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="taxPosition" role="tabpanel" aria-labelledby="nav-profile-tab">

                    <div class="form-horizontal">
                        <div class="form-row">
                            <div class="col-sm-7" style="margin-left: auto; margin-right: auto">
                                <div id="tabsContainer" class="tab" style="width: 100% !important; display: block;">
                                    <button class="tablinks tablinks1 active" onclick="openDivForTab(event, 'generalInfo')"> General</button>
                                    <button class="tablinks tablinks2" onclick="openDivForTab(event, 'contactInfo')"> Contact</button>
                                    <button class="tablinks tablinks3" onclick="openDivForTab(event, 'databaseInfo')"> Database</button>
                                </div>
                                <div class="bordereds-group tabcontent" id="generalInfo" style="min-height: 300px">
                                    <div class="">
                                        <form>
                                            <div class="form-group row">
                                                <div class="col-md-12 formDiv">
                                                    <label for="Description" class=" col-form-label">Account Name</label>
                                                    <input type="text" class="form-control" id="Description" placeholder="">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <div class="col-md-6 formDiv">
                                                    <label for="Description" class=" col-form-label">Region</label>
                                                    <input type="text" class="form-control" id="Description" placeholder="">
                                                </div>
                                                <div class="col-md-6 formDiv">
                                                    <label for="Description" class=" col-form-label">District</label>
                                                    <input type="text" class="form-control" id="Description" placeholder="">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <div class="col-md-6 formDiv">
                                                    <label for="Description" class=" col-form-label">Location</label>
                                                    <input type="text" class="form-control" id="Description" placeholder="">
                                                </div>
                                                <div class="col-md-6 formDiv">
                                                    <label for="Description" class=" col-form-label">Ghana Code</label>
                                                    <input type="text" class="form-control" id="Description" placeholder="">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <div class="col-md-12 formDiv">
                                                    <label for="Description" class=" col-form-label">Street Address</label>
                                                    <textarea class="form-control" rows="3" id="Note" style="resize: none;" value=""></textarea>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <div class="bordereds-group tabcontent" id="contactInfo" style="min-height: 310px;  display: none">
                                    <div class="">
                                        <form>
                                            <div class="form-group row">
                                                <div class="col-md-12 formDiv">
                                                    <label for="Description" class=" col-form-label">Primary Contact</label>
                                                    <input type="text" class="form-control" id="Description" placeholder="">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <div class="col-md-12 formDiv">
                                                    <label for="Description" class=" col-form-label">Secondary Contact</label>
                                                    <input type="text" class="form-control" id="Description" placeholder="">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <div class="col-md-6 formDiv">
                                                    <label for="Description" class=" col-form-label">Primary Phone #</label>
                                                    <input type="text" class="form-control" id="Description" placeholder="">
                                                </div>
                                                <div class="col-md-6 formDiv">
                                                    <label for="Description" class=" col-form-label">Secondary Phone #</label>
                                                    <input type="text" class="form-control" id="Description" placeholder="">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <div class="col-md-12 formDiv">
                                                    <label for="Description" class=" col-form-label">Email Address</label>
                                                    <input type="text" class="form-control" id="Description" placeholder="">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <div class="col-md-6 formDiv">
                                                    <label for="Description" class=" col-form-label">Office Line 1</label>
                                                    <input type="text" class="form-control" id="Description" placeholder="">
                                                </div>
                                                <div class="col-md-6 formDiv">
                                                    <label for="Description" class=" col-form-label">Office Line 2</label>
                                                    <input type="text" class="form-control" id="Description" placeholder="">
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <div class="bordereds-group tabcontent" id="databaseInfo" style="height: 350px; display: none">
                                    <div class="">
                                        <form>
                                            <div class="form-group row">
                                                <div class="col-md-12 formDiv">
                                                    <label for="Description" class=" col-form-label">Server Name</label>
                                                    <input type="text" class="form-control" id="Description" placeholder="">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <div class="col-md-12 formDiv">
                                                    <label for="Description" class=" col-form-label">Database Name</label>
                                                    <input type="text" class="form-control" id="Description" placeholder="">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <div class="col-md-12 formDiv">
                                                    <label for="Description" class=" col-form-label">User ID</label>
                                                    <input type="text" class="form-control" id="Description" placeholder="">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <div class="col-md-12 formDiv">
                                                    <label for="Description" class=" col-form-label">User Password</label>
                                                    <input type="text" class="form-control" id="Description" placeholder="">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <div class="col-md-12 formDiv">
                                                    <label for="Description" class=" col-form-label">Connection String</label>
                                                    <textarea class="form-control" rows="3" id="Note" style="resize: none;" value=""></textarea>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <button id="backBtn" class="btn btn-outline-primary" style="display: none"> Back</button>
                                <button id="saveContinueBtn" style="float: right; margin-left: 2px;" class="btn btn-success">  Save & Continue</button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>

@section scripts {
    <script src="~/js/account/createAccount.js"></script>
}

