@{
    ViewData["Title"] = "Home Page";
}

<div class="card">
    <div class="breadcrumb">
        <iframe src='https://collect.localrevenue-gh.com/bi/en-us/site/site1/dashboards/5a5b7b4c-a2a9-4075-a2de-ffa5bba6b013/Predictive%20Analytics/Personal%20Expense%20Analysis?isembed=true' id='dashboard-frame' width='1240' height='568' allowfullscreen frameborder='0'></iframe>
    </div>
</div>

@section scripts {
    <script src="~/js/Home/home.js"></script>
}